*{
    padding:0;
    margin: 0;
}
body{background-color: #f3f3f3;}
header{width: 100%;}
.bg{
  background-image: url(../fundoheader.png);
  background-repeat: no-repeat;
  background-size:100%;
  width: 100%;
  height:1050px;
  margin-top: -530px;
}
.bg h1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5341a6;
    margin-left: 100px;
    width: 40%;
}
.img-header{
    margin-top: 200px;
    margin-left: 50%;
}
@media(max-width:480px){
  header{height:700px;}
  .bg{background-size: 100%;margin-top:-150px;}
  .bg h1{
    margin-top: -20px;
    margin-left:8px;
    width: 90%;
  }
  .img-header{margin-top: -550px;}
  .img-header img{width:250px;margin-left:-130px;}
}
.antemenu{
  width:100%;
  height:70px;
}
.antemenu a{
  font-family: Arial;
  font-size: 13.5px;
  color:#82e4ca;
  text-decoration: none;
  padding: 15px;
  }
.antemenu a:hover {
  opacity:0.8;
}
.login{margin-left: 80%;}
/* Navbar container */
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
.navbar {
    overflow: hidden;
    background-color: #f3f3f3;
    font-family: Arial;
    width: 100%;
   }
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.692);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  @media (max-width: 800px) {
    body {
      overflow-x: hidden;
    }
    .navbar {
      top: 8vh;
      right: 0;
      width: 100vw;
      height: 100vh;
      background: #f3f3f3;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .navbar a {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .navbar.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  #logo{margin-top: 13px;padding: 15px;}
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.692);
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    opacity: 0.5;
    }
  .dropdown-content {
   display: none;
    position: absolute;
    background-color: #f5f9fa;
    width: 30%;
    left: 15;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px 20px 20px 20px;
    z-index: 1;
  }
  .dropdown-content .header {
    background:#5341a6;
    padding: 16px;
    padding-left: 130px;
    color: white;
    border-radius: 20px;
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
   .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #f5f9fa;
    height: 180px;
    border-radius: 20px;
  }
 .column h3{
      color: rgba(0, 0, 0, 0.692);
      padding-left: 140px;
  }
  .column a {
    float: none;
    color: rgba(0, 0, 0, 0.692);
    padding: 16px;
    margin-left: 130px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .cards-home{
    
      background-size: 100%;
      background-repeat: no-repeat;
      width: 100%;
      height:800px;
      margin-top: -9px;
      }
   .cards-home h3{
     font-family: 'Arial';
     font-size: 30px;
     margin-left: 45px;
     color:rgba(0, 0, 0, 0.692);
   }
   @media(max-width:480px){
     .cards-home h3{
       margin-left:100px ;
     }
     .box-produtos{margin-left:5%;}
   }
.container-produtos{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.3fr));
    grid-gap:20px;
}
.box-produtos{
    background-color:#f5f9fa;
    box-shadow:3px 10px 10px 3px rgba(0,0,0,0.2);
    width:230px;
    height:300px;
    border-radius: 20px;
    position:relative;
    transition: box-shadow .3s;
    margin-left: 7%;
}
.box-produtos img{
    width: 180px;
    height: 150px;
    margin-left: 25px;
    margin-top: 15px;
    border: solid 1px #f5f9fa;
    border-radius: 20px;
}
.box-produtos h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#82e4ca;
  padding-left: 45px;
}
#p-prom{
  font-family: Arial;
  font-size: 13.5px;
  color:#a64157;
}
.box-produtos p{
  font-family:'Arial';
  font-size: 20px;
  color:rgba(0, 0, 0, 0.692);
  font-weight: bold;
  padding-left: 65px;
  padding-top: 3px;
}
.box-produtos button{
  width: 130px;
  height:35px;
  background-color:#5341a6;
  border-style: none;
  border-radius: 5px;
  color:#f5f9fa;
  margin-left:50px;
  margin-top: 15px;
  }
.box-produtos button:hover{
  opacity: 0.8;
}
.garantias{
  width: 100%;
  height:250px;
  background-color: #dfd9d986;
}
@media(max-width:480px){
  .garantias{
    height:450px;
    }
  .div-gar{padding-left:50px;}
  }
.container-gar{
  width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.3fr));
    grid-gap:20px;
}

.div-gar{
  margin-left: 45px;
  margin-top: 60px;
}
.div-gar p{
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.692);
  font-size: 15px;
  padding: 5px;
  width:85%;
  }
.div-gar i{font-size: 30px;color:rgba(0,0,0,0.2);}
.div-gar i,p{display: inline-block;}
footer{
  margin-top:1800px;
  background-color: #dfd9d986;
  width: 100%;
}
@media(max-width:480px){
  footer{margin-top: 7750px;}
}
footer h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.692);
  margin-left: 45px;
}
footer p{
  font-family:Arial;
  font-size:15px;
  color:rgba(0, 0, 0, 0.692);
}
footer i{padding:5px;margin-left:45px;}
footer img{
  margin-left:45px;height:30px;
}
.div-news .input-mail{
  width: 200px;
  height: 35px;
  background-color: #f3f3f3;
  margin-left: 45px;
  border-radius: 5px;
  border-style: none;
}
.div-news button{
  width: 130px;
  width: 130px;
  height:35px;
  background-color:#5341a6;
  border-style: none;
  border-radius: 5px;
  color:#f5f9fa;
 }
.div-news button:hover{opacity: 0.8;}
.final{width: 100%;height:50px;background-color:#82e4ca;}
@media(max-width:480px){
  footer h3{margin-left: 15px;}
  footer i{margin-left:15px;}
  footer img{margin-left: 15px;}
  .div-news .input-mail{margin-left: 15px;}

}